<div>
    <!--
    <input type="checkbox" ng-model='priceSort' ng-click="flightSort();"> price</input>
    <input type="checkbox" ng-model='durationSort' ng-click="flightSort();"> Duration</input>
    <input type="checkbox" ng-model='ArrivalSort' ng-click="flightSort();"> Arrival</input>
    <input type="checkbox" ng-model='DepartureSort' ng-click="flightSort();"> Departure</input>
    <input type="checkbox" ng-model='noOfSeatSort' ng-click="flightSort();"> No. of Seats</input>
    <input type="checkbox" ng-model='AirlineSort' ng-click="flightSort();"> Airline</input>
    -->
    <div class="Filters">
        <span ng-click="Sort('Departure');">Departure</span>
        <span ng-click="Sort('Arrival')">Arrival</span>
        <span ng-click="Sort('Airline')">Airline</span>
        <span ng-click="Sort('Price')">Price</span>
        <span ng-click="Sort('Duration')">Duration</span>
        <span ng-click="Sort('SeatsAvailable')">Seats Available</span>
    </div>

    <div>
        <div ng-repeat="flight in renderData | orderBy:orderByList">
            {{flight.Departure | date : 'shortTime' }} {{flight.Arrival | date : 'shortTime' }} {{flight.Airline}} {{flight.Price}} {{flight.Duration}} {{flight.SeatsAvailable}}
        </div>

        <div>
            <br>
            <div ng-repeat="airline in airlines">
                <input type="checkbox" ng-click="AirlineFilter(airline)" checked="true">{{airline}}</input>
            </div>
            <br>

            <div ng-repeat="hrs in durationArray">
                <input type="checkbox" ng-click="durationFilter(hrs)" checked="true"> {{hrs-1}} to {{hrs}} hrs </input>
            </div>

            <br>
            Arrival
            <div ng-repeat="arrival in ArrivalArray">
              <input type="checkbox" ng-click="arrivalFilter(arrival)" checked="true">  <span ng-show ="$last">greater than </span> {{arrival | date : 'shortTime' }} <span ng-show ="!$last"> to </span> {{ArrivalArray[$index + 1] | date : 'shortTime'}}</input>
            </div>

            <br>
            Departure
            <div ng-repeat="departure in DepartureArray">
              <input type="checkbox" ng-click="departureFilter(departure)" checked="true">  <span ng-show ="$last">greater than </span> {{departure | date : 'shortTime' }} <span ng-show ="!$last"> to </span> {{DepartureArray[$index + 1] | date : 'shortTime'}}</input>
            </div>
            <br>

            <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options" style="width=60%;"></rzslider>
        </div>
    </div>
</div>
